/*body {*/
/*    !*background-image: url('graphic/mainWallpaper.jpg');*!*/
/*    !*background-image: url('../graphic/mainCover.jpg');*!*/
/*    background-image: url('../graphic/top-view-different-books-arrangement.jpg');*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    text-align: center;*/
/*}*/

.mainPageBackground {
    background-image: url('graphic/mainCover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.loginPage {
    margin-left: 50px;
    text-align: center;
    width: 600px;
    height: 300px;
}

.standardPageBody {
    background-image: url('graphic/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.mainLabel {
    text-align: center;
    text-shadow: -5px 0 #ffffff, 0 5px #fffafa, 5px 0 #ffffff, 0 -5px #fffcfc;
    font-size: 50px;
    color: #000000;
    font-family: cursive;
    letter-spacing: 10px;
}

.formDivStyle {
    margin-top: 100px;
}

.textStyle {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    color: black;
    font-size: x-large;
    font-family: cursive;
    letter-spacing: 1px;
}

.contentTextStyle {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    color: black;
    font-size: small;
    font-family: cursive;
    letter-spacing: 1px;
}

.multiSelectTextStyle {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    border-color: black;
    border-radius: 10px;
    color: black;
    font-size: medium;
    font-family: cursive;
    letter-spacing: 1px;
}

.inputAreaStyle {
    text-align: center;
    padding-left: 10px;
    font-size: medium;
    font-family: cursive;
    border-color: black;
    border-radius: 50px;
    height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.searchInputAreaStyle {
    text-align: center;
    padding-left: 10px;
    font-size: medium;
    font-family: cursive;
    border-color: black;
    border-radius: 50px;
    height: 30px;
    width: 400px;
    margin-top: 10px;
}


.loginButtonStyle {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border-radius: 50px;
    width: 220px;
    height: 40px;
    background: rgba(50, 205, 50, 0.68);
    color: antiquewhite;
    letter-spacing: 1px;
    font-size: medium;
    font-family: cursive;
    margin-bottom: 10px;
}

.registrationButtonStyle {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border-radius: 50px;
    width: 220px;
    height: 40px;
    background: rgba(65, 105, 225, 0.88);
    color: antiquewhite;
    letter-spacing: 1px;
    font-size: medium;
    font-family: cursive;
}

.deleteButtonStyle {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border-radius: 50px;
    width: 220px;
    height: 40px;
    background: rgba(232, 53, 53, 0.82);
    color: antiquewhite;
    letter-spacing: 1px;
    font-size: medium;
    font-family: cursive;
}

.navigationButtons {
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background: white;
    color: black;
    letter-spacing: 1px;
    font-size: small;
    font-family: cursive;
}

.searchButton {
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background: white;
    color: black;
    letter-spacing: 1px;
    font-size: medium;
    font-family: cursive;
}

.errorMessageStyle {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: red;
    font-size: larger;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}

.paginationButton {
    width: 100px;
    height: 100px;
    text-decoration: none;
    background-color: antiquewhite;
    color: black;
    font-size: medium;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.selectedPage {
    width: 100px;
    height: 100px;
    background-color: rgba(111, 135, 205, 0.89);
    color: black;
    font-size: medium;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.linksLikeButton {
    width: 70px;
    height: 40px;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #c2cee8;
    color: black;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-size: small;
    font-family: cursive;
    letter-spacing: 1px;
}

.contentContainer {
    text-align: center;
    display: block;
    /*margin-left: 190px;*/
    width: 1300px;
    height: 600px;
}

.contentWindow {
    background-image: url('graphic/bookCover.jpg');
    /*background-repeat: no-repeat;*/
    background-size: cover;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    width: 200px;
    height: 250px;
    text-align: center;
    /*background: antiquewhite;*/
}

